<div class="container-fluid mb-5">
  <div class="fixed-navbar">
    <div
      class="navbar-header d-flex align-items-center justify-content-between"
    >
      <div class="d-flex align-items-center logo-section">
        <img id="pic-img" src="assets/img/icon.png" alt="logo" />

        <div class="header-text">
          <h5 class="title-bar mb-0">Opportunity</h5>
          <em id="title-subheader">Aproveite seu tempo</em>
        </div>
      </div>
      <div style="float: right">
        <button mat-button class="btn-lg btn-custom-confirm" (click)="login()">
          Entrar
        </button>
      </div>
    </div>
  </div>
</div>
