<a [ngClass]="size">
  <div class="row">
    <div class="col-md-8">
      <h4 style="margin-top: -5px;"><strong>#{{task.project}}</strong></h4>
    </div>
    <div class="col-md-4">
      <ng-container>
        <!--div class="col-md-12">
            <mat-checkbox color="check.color" [checked]="task.status == 'paid' ? true : false" (change)="changeStatus(task.idTask, $event)"></mat-checkbox>
        </div>
        <div class="col-md-12">
          {{task.status | translateTimeStatus}}
        </div-->

          <!-- Toggle Button Style 1 -->
          <label class="toggler-wrapper style-1">
            <input type="checkbox" (change)="changeStatus(task.idTask, $event)" [checked]="isChecked(task)" >
            <div class="toggler-slider">
              <div class="toggler-knob"></div>
            </div>
          </label>
          <!-- End Toggle Button Style 1 -->
          <div class="badge">{{task.status | translateTimeStatus}}</div>
      </ng-container>
      <ng-template  #loading>
          <app-spinner-loader [size]="'small'"></app-spinner-loader>
      </ng-template>
    </div>
  </div>
  <p>#{{task.task}}</p>
  <p>#{{task.time}}</p>
  <p *ngIf="showDate"><strong>#{{task.date}}</strong></p>
  <small>#{{task.notes != '' ? task.notes : 'Nenhuma nota'}}</small>
  <div *ngIf="!disableButtons" class="d-grid gap-2 d-md-block footer mt-4">
      <button type="button" class="btn btn-outline-primary zoom mr-4" (click)="edit()">Editar</button>
      <button type="button" class="btn btn-outline-danger zoom" (click)="delete()">Excluir</button>
    </div>
</a>
