<main class="lp-root">
  <section class="lp-integration container" id="integrations">
    <h3>Saia do Offline</h3>
      <div class="integration-text">
        <p>
          Pare de gerenciar seus pagamentos via e-mails, planilhas ou processos
          manuais que geram retrabalho e erros. Com o Opportunity, todo o fluxo
          de aprovação e registro é automatizado e centralizado em um único
          lugar.
        </p>
    </div>
  </section>

  <section class="lp-integration container" id="integrations">
    <h3>Integração com SAP Business One e SAP C4C</h3>
    <div class="integration-wrap">
      <div class="integration-text">
        <p>
          Pare de gerenciar seus pagamentos via e-mails, planilhas ou processos
          manuais que geram retrabalho e erros. Com o Opportunity, todo o fluxo
          de aprovação e registro é automatizado e centralizado em um único
          lugar.
        </p>

        <p>
          Gerencie seus pagamentos diretamente no SAP Business One. Com a
          integração via API REST, todos os pagamentos criados no Opportunity
          são automaticamente registrados no SAP B1, atualizando as faturas
          (OINV) em tempo real.
        </p>
      </div>

      <pre class="code-sample">
        // Fluxo: <br>
        // 1. Pagamento criado no Opportunity -> <br> 
        // 2. Aprovadores notificados via email -> <br> 
        // 3. Após aprovado, pagamento criado no SAP B1 via API REST -> <br>
        // 4. Informação atualizada no SAP C4C via API REST -> <br>
        // 5. Notificação enviada ao solicitante do pagamento -> <br>
      </pre>
    </div>
  </section>
</main>
