@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

:host {
    ::ng-deep {

        button {
            height: 4rem;
            border-radius: 0.5rem;
        }
        .p-inputtext {
            height: 4rem;
            border: 1px solid #ced4da;
            font-size: 2rem;
        }

        .p-calendar {
            width: 30rem;
        }

        .pi-calendar {
            font-size: 2rem;
        }
    }

    h5 {
        padding: 1rem;
    }

    .search-button {
        margin-left: 1rem;
        font-size: 2rem;
    }
}